<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{include './common/linkCss.html'}}
    <link rel="stylesheet" href="/public/css/lightbox.css">
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
      {{include './common/header.html'}}
      
      {{include './common/side.html'}}
      
    <div class="layui-body">
        <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <h2>文章管理</h2>
        <table class="layui-hide" id="test" lay-filter="test"></table>
        <div>
          <button type="button" id="add"  class="layui-btn">
              <i class="layui-icon">&#xe608;</i> 添加文章
          </button>
      </div>  
       </div>
       <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="look">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      </script>
    </div>
      
      {{include './common/footer.html'}}
    </div>
    
</body>
{{include './common/srcJs.html'}}
<script src="/public/js/lightbot.js"></script>
<script>
  
//JavaScript代码区域
layui.use(['element','layer','table','upload'], function(){
  var element = layui.element;
  var table = layui.table;
  
  let tableUI = table.render({
    elem: '#test'
    ,toolbar:'#toolbarDemo'
    ,title:'文章数据'
    ,url: '/artData' //数据接口
    ,page: true //开启分页
    ,limit:5
    ,limits:[5,10,15,20]
    ,defaultToolbar:['filter','exports','print',{
      title:'提示'
      ,layEvent:'LAYTABLE_TIPS'
      ,icon:'layui-icon-tips'
    }]
    ,cols: [[ //表头
      {type:'checkbox', fixed: 'left'}
      ,{field: 'art_id', title: 'ID', width:100,hide:true}
      ,{field: 'title', title: '标题', width:120}
      ,{field: 'content', title: '内容', width:120} 
      ,{field: 'name', title: '所属分类', width: 100}
      ,{field: 'author', title: '作者', width: 100}
      ,{field: 'Cover', title: '图片', width: 120
      ,templet({Cover}){
              let imgStr = `<a class="example-image-link" href="${Cover}" data-lightbox="example-1" data-title="我帅木">
                        <img class="example-image" src="${Cover}" alt="暂无图片" />
                    </a>`;
              return imgStr;
            }
    }
      ,{field: 'status', title: '状态', width: 100, sort: true,templet : function(item){
        // console.log(item)
        let dataMap = {
          '2':'<span class="layui-badge layui-bg-blue">审核中</span>',
          '1':'<span class="layui-badge layui-bg-green">已发布</span>',
          '0':'<span class="layui-badge layui-bg-red">未发布</span>'
        }
        return dataMap[item.status]
      }}
      ,{field:'publish_date', title:'发布时间', width:200, sort: true,templet(item){
        let publish_date = item.publish_date
        publish_date = util.date_format(publish_date,'YYYY-MM-DD')
        console.log(publish_date)
        return publish_date
      }}
      ,{fixed: 'right', title:'操作',unresize:true,
      templet({status}){
        console.log(status)
        let  temStr =  `<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                  <a class="layui-btn layui-btn-xs" lay-event="look">查看内容</a>`;
        switch(status){
          case 0 :
            temStr += `<a class="layui-btn layui-btn-xs layui-bg-orange" lay-event="verify">待审核</a>`
            break;
          case 2 :
          temStr += `<a class="layui-btn layui-btn-xs layui-bg-orange" lay-event="verify">待审核</a>`
            break;
        }
           return temStr;
      }
    }
    ]]
  });
  // 監聽事件
  table.on('tool(test)',function(obj){
    let {data,event} = obj;
    let {art_id,title,content} = data;
    switch(event){
      case 'del':
        del(art_id)
        break;
      case 'edit' :
        edit(art_id)
        break;
      case 'look':
        look(title,content)
        break;
      case 'verify':
        verify(art_id)
        break;
    }
  })

  function verify(art_id){
    layer.confirm('是否通过审核',{
      btn:['通过','不通过']
    },function(){
      passVerification(art_id,1)
    },function(){
      passVerification(art_id,2)
    })
  }
  function passVerification(art_id,status){
    $.ajax({
      url:'/passverify',
      data:{art_id,status},
      type:'post',
      dataType:'json',
      success({code,message}){
        if(code===0){
          tableUI.reload()
        }
        layer.msg(message)
      }
    })
  }
  function del(art_id){
    layer.confirm('確認刪除',{btn:['是的','取消']},function(){
      $.ajax({
        type:'post',
        url:'/delarticle',
        data:{art_id},
      }).then(res=>{
        let {code,message}= res
        layer.closeAll();
        if(code===0){
          tableUI.reload(); // 重載表格
          layer.msg(message)
        }
      })
    })
  }
  function edit(art_id){
    location.href = '/editarticle?art_id='+art_id
  }
  function look(title,content){
    layer.open({
      title:title,
      type:1,
      skin: 'layui-layer-rim', 
      area: ['800px', '640px'], 
      content: "<div style='padding:10px'>" + content + "</div>"
    })
  }
  $('#add').on('click',()=>{
    location.href = '/addarticle'
  })
});
</script>
</html>