<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 后台大布局 - Layui</title>
  {{include './common/linkCss.html'}}
  <style>
    #layui-layer1,#layui-layer2{
      text-align: center;
    }
    #layui-layer1 p,#layui-layer2 p{
      margin: 10px auto;
    }
    #layui-layer2 #updatePass{
      width: 100px;
      height: 30px;
      background-color: skyblue;
      outline: 0;
      border: 0;
      color: aliceblue;
    }
  </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  
  {{include './common/header.html'}}
  
  {{include './common/side.html'}}
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
      <div id="cate" style="width: 600px;height: 400px;"></div>
    </div>
  </div>
  
  {{include './common/footer.html'}}
  {{include './common/srcJs.html'}}
</div>
  <script src="/public/js/eachart.js"></script>
<script>


  $.get('/cateCount',(res)=>{
    let names = []
    let totals = []
    res.map(v=>{
      names.push(v.name)
      totals.push(v.total)
    })
    initEachart(names,totals)
  })

  function initEachart(names,totals){
    let myEchart = echarts.init($("#cate")[0])
    let option = {
      title: {
              text: '文章管理系统统计一览表'
          },
          tooltip: {},
          legend: {
              data:['销量']
          },
          xAxis: {
              data: names
          },
          yAxis: {},
          series: [{
              name: '文章数',
              type: 'bar',
              data: totals
          }]
    }
    myEchart.setOption(option)
  }

</script>

</body>
</html>